
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

  <title>{{index.BlogTitle | Escape}}</title>

  <link rel="stylesheet" href="{{index.BlogUrl}}/styles-site.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{index.BlogUrl}}/index.xml" />
  <link rel="icon" href="{{index.BlogUrl}}/favicon.ico" type="image/x-icon" />
</head>

<body>

<div id="banner">
  <h1><a href="{{index.BlogUrl}}" accesskey="1">{{index.BlogTitle | Escape}}</a></h1>
  <span class="description">{{index.BlogDescription | Escape}}</span>
</div>

<div id="content">
<div class="blog">


{% for entry in index.Entries limit:5 -%}
{% if entry.Draft != true -%}
	<div class="blogbody">
    <a href="{{index.BlogUrl}}{{entry.WebRelativePath}}"><h2 class="title">{{entry.Title | Escape}}</h2></a>
{{entry.Html}}
	<div class="posted"><a href="{{index.BlogUrl}}{{entry.WebRelativePath}}">Permalink</a>
		| <a href="{{index.BlogUrl}}{{entry.WebRelativePath}}#disqus_thread" data-disqus-identifier="{{entry.WebRelativePath}}">Comments (0)</a>
        | {{entry.Date}}
	</div>
	</div>
{% endif -%}
{% endfor -%}

</div>
</div>


<div id="links">
  <div class="sidetitle">
  Subscribe
  </div>
  <div class="side">Receive the updates to this site using this <a href="{{index.BlogUrl}}/index.xml">RSS feed</a>.
</div>

<div class="sidetitle">
  Search
</div>
 
<div class="side">
  ... TODO Search ...
</div>


<div class="sidetitle">
  Contact Me
</div>

<div class="side">
  <address><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#117;&#108;&#105;&#101;&#110;&#46;&#99;&#111;&#117;&#118;&#114;&#101;&#117;&#114;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Julien Couvreur</a></address> 
</div>

<div class="sidetitle">
  Past Entries
</div>

<div class="side">
  <a href="{{index.BlogUrl}}/archives.html">All entries ({{index.Entries | Size | Plus: 10 }})</a><br />
<br />


{% for entry in index.Entries limit:5 -%}
  <a href="{{index.BlogUrl}}{{entry.WebRelativePath}}">{{entry.Title | Escape}}</a><br />
{% endfor -%}
</div>

<div class="sidetitle">
  Disclaimer
</div>

<div class="side">
  These postings are provided "AS IS" with no warranties, and confers no rights. The content of this site contains my own personal opinions and does not represent my employer's view in any way.<br />
</div>

<div class="syndicate">
  <a href="http://creativecommons.org/licenses/by-sa/1.0/" rel="license"><img alt="Creative Commons License" border="0" src="http://creativecommons.org/images/public/somerights" /></a><br />
  This weblog is licensed under a <a href="http://creativecommons.org/licenses/by-sa/1.0/">Creative Commons License</a>. The content and code is maintained <a href="https://github.com/dumky/blog">here</a>.
</div>

</div>

    <script type="text/javascript">
    var disqus_shortname = 'curiosityisbliss'; 

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    

</body>
</html>
